<div class="card">
  <h2>Add New Book</h2>

  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title" />
      <div *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched" class="text-red-500">
        Title is required.
      </div>
    </div>

    <div>
      <label for="author">Author</label>
      <input id="author" type="text" formControlName="author" />
      <div *ngIf="bookForm.get('author')?.invalid && bookForm.get('author')?.touched" class="text-red-500">
        Author is required.
      </div>
    </div>

    <div>
      <label class="status">Status</label>
        <label><input type="radio" formControlName="status" value="read" /><span class="read">Read</span></label>
      <label><input type="radio" formControlName="status" value="unread" /><span class="unread">Unread</span></label>
    </div>

    <button type="submit" [disabled]="bookForm.invalid">Add Book</button>
  </form>
</div>
